.cabecalho__menu-hamburger {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburger {
    background-image: url("../img/Menu Aberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    background-color: var(--branco);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease, z-index 0s 0.3s;
    left: 0;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    z-index: 10; 
    opacity: 1;
    transition: opacity 0.3s ease;
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.opcoes {
    display: none;
}

.container__titulo /* , 
.container__titulo--negrito */ {
    display: none;
}

.container__texto { 
    display: none;
}

/* @media screen and (min-width: 1024px) {

    .container__titulo, 
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transp {
        display: none;
    }

    .cabecalho__menu-hamburger {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        z-index: 10; 
        opacity: 1;
        transition: opacity 0.3s ease;
        display: block;
        width: auto;
    }

    .lista-menu {
        display: none;
        position: absolute;
        background-color: var(--branco);
        z-index: -1;
        opacity: 0;
        transition: opacity 0.3s ease, z-index 0s 0.3s;
        left: 44em;
        top: 100%;
        width: 60vw;
    }

    .opcoes__botao {
        display: none;
    } */
     

    @media screen and (min-width: 1024px) {

        .container__titulo, 
        .container__titulo--negrito {
            font-family: var(--fonte-secundaria);
            font-size: 30px;
        }
    
        .container__titulo{
            font-weight: 400;
            display: block;
        }
    
        .container__titulo--negrito{
            font-weight: 700;
        }
    
        .opcoes {
            display: flex;
        }
    
        .opcoes__item {
            padding: 0 1em;
            /* text-transform: uppercase; Removido daqui */
        }
    
        /* Adiciona uppercase aos links do menu */
        .opcoes__link {
            text-decoration: none;
            color: var(--preto);
            text-transform: uppercase;
        }
    
        .container__imagem--transp {
            display: none;
        }
    
        .cabecalho__menu-hamburger {
            display: none;
        }
    
        .opcoes__botao:checked~.lista-menu {
            z-index: 10; 
            opacity: 1;
            transition: opacity 0.3s ease;
            display: block;
            width: auto;
        }
    
        .lista-menu {
            display: none;
            position: absolute;
            background-color: var(--branco);
            z-index: -1;
            opacity: 0;
            transition: opacity 0.3s ease, z-index 0s 0.3s;
            left: 26em;
            top: 100%;
            width: 60vw;
        }
    
        .opcoes__botao {
            display: none;
        }
    
        /* Regras para as setas */
        .opcoes__item_aberto,
        .opcoes__item_fechado {
            text-transform: uppercase; /* Adiciona uppercase aos itens de seta */
            cursor: pointer;
        }
    
        .opcoes__item_aberto {
            display: none;
        }
    
        .opcoes__botao:checked + label .opcoes__item_fechado {
            display: none;
        }
    
        .opcoes__botao:checked + label .opcoes__item_aberto {
            display: block;
        }
    
        .opcoes__botao:checked + label + .lista-menu {
            display: block;
        }

        /* .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
            background: var(--azul-degrade);
        } */

        .lista-menu__item:hover {
            background: var(--azul-degrade);
        }

        .lista-menu__item:hover>.lista-menu__link {
            -webkit-text-fill-color: var(--branco);
            text-decoration: none;
        }
    }

    @media screen and (min-width: 1690px) {
        .container__link { 
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--preto);
        }

        .cabecalho {
            padding: 0 2em;
        }

        .lista-menu {
            left: 38em;

        }

        .container__texto { 
            display: block;
        }
    }