.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1.5em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}